* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
}

#Header {
    width: 100%;
    height: 100vh;
    background-color: black;
    /* background-size: cover;
    background-position: center;*/
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.title {
    font-size: 60px;
    font-weight: bold;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 4px;
    background: red;
    position: absolute;
    left: 0%;
    bottom: -6px;
    transition: 0.5s;

}

nav ul li a:hover::after {
    width: 100%;
}

.text {
    margin: 15%;
    font-size: 20px;

}

/*.text img {
    float: right;
    border: 2px solid black;
    padding: 2px 2px;
    margin-top: -10px;
}*/

.text h1 {
    font-size: 40px;
}

.text h1 span {
    color: red;
}

/*-----------------------ABOUT----------------------*/

#about {
    padding: 40px 0px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*.about-col-1 {
    flex-basis: 35%;
    /*--the width of the colomn is 35%----
}

.about-col-1 img {

    border-radius: 15%;
}
*/

.about-col-2 {
    flex-basis: 99%;
}

.text1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.tab-titles {
    display: flex;
    margin: 20px 0px 40px;

}

.tab-links {
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 100%;

}

.tab-contents ul li {
    list-style: none;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/*---------------------SERVICES-------------------------*/
#services {
    padding: 150px 0px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, tranform 0.5s;
}

.services-list div i {
    font-size: 30px;
    margin-bottom: 30px;
}

.services-list div h2 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
}

.services-list div a {
    text-decoration: none;
    color: blue;
    margin-top: 20px;
    display: inline-block;
    font-weight: bold;
}

.services-list div:hover {
    background: #ff004f;
    transform: translateY(-10px);
}

/*-----------Portfolio-----------------*/
#portfolio {
    padding: 40px 0px;
}

.work-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 200;
    border-radius: 10px;
    margin-top: 35px;

}

.work-list div a {
    font-size: 20px;
    color: white;
    text-decoration: none;

}

.work-list div a:hover {
    background: #ff004f;
    color: yellow;
}

/*----------------contact----------------------*/
.contact-left {
    flex-basis: 35%;

}

.contact-right {
    flex: basis 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;

}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
}

.btn.btn2 {
    display: inline-block;
    background: #ff004f;
}

.contact-right form {
    width: 100%;

}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

/*------------------------------ CSS for small screen--------------------------------*/
/*@media only screen and (max-width:600px) {

    .text img {
        float: right;
        border: 2px solid black;
        padding: 2px 2px;
        margin-top: -10px;
    }
}
*/